/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noticia+Text&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Satisfy&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

:root {

    /* Base */
    --background-color: #ffffff;
    --text-color: #000000;

    /* Menu Colors */
    --menu-background: #f5f5f5;
    --menu-hover: #e0e0e0;
    --menu-shadow: rgba(0, 0, 0, 0.1);

     /* App State Colors */
     --app-state-background: #74AEDC;
     --app-state-trim: #000000;

     /* Form Colors */
     --form-background: #74AEDC;
     --form-trim: #000000;

     /* Input Colors */
     --input-background: #D9D9D9;
     --input-trim: #000000; 

     /* Button Colors */
     --button-background: #000000;
     --button-text: white;
}

/* GOD */
* {
    margin: 0;
    padding: 0;
}

/* EARTH */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Poppins';
}

/* THE CONTENT */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;
    width: 100%;
    /* Already Centers the Header */
}

/* HEADER DIV */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

/* LOGO NAME */
.logo_name {
    display: flex;
    align-items: center;
    gap: .5em;
}

/* HEADER TEXT */
header h1 {
    font-size: 2.3rem;
}

/* HEADER LOGO */
img {
    width: 3.5em;
    height: 3.5em;
}

/* APP STATE */
.app_state {
    background-color: blue;
    padding: .3em 2em;
}

/* THE FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 5px;
    gap: 2em;
    padding: 5em;
    width: 20%;
}

label {
    font-size: 1.1rem;
}

/* Make Padding on form fatter on desktop */
@media screen and (min-width: 1200px) {
    header h1 {
        font-size: 3rem;
    }
    img {
        width: 5em;
        height: 5em;
    }
    label {
        font-size: 1.5rem;
    }
    form {
        padding: 10em;
    }
}

/* DROPDOWN AND PIN NUMBERS DIV*/
.input_div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    /* width: 100%; */
}

/* NAME GROP DOWN MENU */
select {
   width: 15em;
   padding: .5em;
   background-color: blue;
   border: none;
   color: white;
}

/* Select Button on Desktop */
@media screen and (min-width: 1200px) {
    select {
        width: 25em;
        padding: 1em;
        background-color: blue;
    }
}

/* PIN NUM DIV */
.pin_num_div {
    display: flex;
    gap: .5em;
}

/* EACH PIN NUMBER */
input {
    width: 3em;
    height: 3em;
    background-color: black;
    border: 2px solid blue;
}

/* Pin Numbers on Desktop */
@media screen and (min-width: 1200px) {
    /* Widen the Gap */
    .pin_num_div {
        gap: 2em;
    }

    /* Expand the size */
    input {
        width: 4em;
        height: 4em;
    }
}

/* SUBMIT BUTTON */
button {
    background-color: blue;
    color: white;
    width: 15em;
    padding: .7em;
    border: none;
    font-weight: bold;
    margin-top: 1em;
    /* border-radius: 5px; */
}

/* Submit Button on Desktop */
@media screen and (min-width: 1200px) {
    /* Expand the size thru padding */
    button {
        width: 24.5em;
        padding: 1em;
        margin-top: 3em;
    }
}
