/* GOD */
* {
    margin: 0;
    padding: 0;
}

/* EARTH */
body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* THE CONTENT */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;
    width: 100%;
    /* Already Centers the Header */
}

/* HEADER */
header {
    display: flex;
}

/* HEADER TEXT */
header h1 {
    font-size: 2.3rem;
}

/* THE FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 5px;
    gap: 2em;
    padding: 5em;
    width: 20%;
}

label {
    font-size: 1.1rem;
}

/* Make Padding on form fatter on desktop */
@media screen and (min-width: 1200px) {
    header h1 {
        font-size: 3rem;
    }
    label {
        font-size: 1.5rem;
    }
    form {
        padding: 10em;
    }
}

/* DROPDOWN AND PIN NUMBERS DIV*/
.input_div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    /* width: 100%; */
}

/* NAME GROP DOWN MENU */
select {
   width: 15em;
   padding: .5em;
   background-color: blue;
   border: none;
   color: white;
}

/* Select Button on Desktop */
@media screen and (min-width: 1200px) {
    select {
        width: 25em;
        padding: 1em;
        background-color: blue;
    }
}

/* PIN NUM DIV */
.pin_num_div {
    display: flex;
    gap: .5em;
}

/* EACH PIN NUMBER */
input {
    width: 3em;
    height: 3em;
    background-color: black;
    border: 2px solid blue;
}

/* Pin Numbers on Desktop */
@media screen and (min-width: 1200px) {
    .pin_num_div {
        gap: 2em;
    }

    input {
        width: 4em;
        height: 4em;
    }
}

/* SUBMIT BUTTON */
button {
    background-color: blue;
    color: white;
    width: 15em;
    padding: .5em;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
